@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700|Rajdhani:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400, 700, 900");
@import "reset";

body {
  font-family: "Noto Sans KR", sans-serif;
  background: $mainColor;
  font-size: 12px;
}

h2 {
  margin-bottom: 20px;
  font-size: 18px;
}

#root {
  color: #ffffff;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 50px;
    background-color: #ffffff;
    font-size: 18px;
    color: #2a2b40;
  }
  .mainWrap > * {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .SizeControler {
    overflow: hidden;
  }

  .colorControler {
    flex-direction: column;
    .bgColorWrap {
      background: #ffffff;
      > div {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px, rgba(0, 0, 0, 0.2) 0px 4px 8px;
        margin: 20px;
      }
    }
  }

  .box {
    background: red; // 일반 CSS 에선 .SassComponent .box 와 마찬가지
    cursor: pointer;
    transition: all 0.3s ease-in;
    &.red {
      // .red 클래스가 .box 와 함께 사용 됐을 때
      background: $red;
      @include square(1);
    }
    &.orange {
      background: $orange;
      @include square(2);
    }
    &.yellow {
      background: $yellow;
      @include square(3);
    }
    &.green {
      background: $green;
      @include square(4);
    }
    &.blue {
      background: $blue;
      @include square(5);
    }
    &.indigo {
      background: $indigo;
      @include square(6);
    }
    &.violet {
      background: $violet;
      @include square(7);
    }
    &:hover {
      // .box 에 마우스 올렸을 때
      background: black;
    }
  }
}

.inputWrap {
  float: left;
  margin: 0 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
  border-radius: 0 5px 5px 0;
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: 30px;
    padding: 0 15px;
    box-sizing: border-box;
    border: 1px solid $line;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    font-size: bold;
    color: $mainColor;
  }
  input {
    min-width: 150px;
    height: 30px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid $line;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
    color: $mainColor;
  }
}
