@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700|Rajdhani:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400, 700, 900");
@import "reset";

body {
  font-family: "Noto Sans KR", sans-serif;
  background: $mainColor;
  font-size: 12px;
}

h2 {
  margin-bottom: 20px;
  font-size: 18px;
}

.inputWrap {
  float: left;
  margin: 0 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
  border-radius: 0 5px 5px 0;
  > * {
    height: 40px;
    box-sizing: border-box;
    border: 1px solid $line;
    background-color: #fff;
    font-size: 14px;
    color: $mainColor;
  }
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 0 15px;
    border-radius: 5px 0 0 5px;
    font-weight: bold;
  }
  input {
    min-width: 150px;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
  }
}

#root {
  color: #ffffff;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 50px;
    background-color: #ffffff;
    font-size: 18px;
    color: #2a2b40;
  }
  .mainWrap > * {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .SizeControler {
    overflow: hidden;
  }

  .colorControler {
    flex-direction: column;
    .bgColorWrap {
      padding: 5px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
      border-radius: 5px;
      background: #ffffff;
      > div {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
        margin: 10px;
      }
    }
  }
  .textContents {
    .inputWrap {
      input {
        min-width: 400px;
      }
    }
  }
}
